/* styles.css */

:root {

    /*Color Library */
    --whitePink: #ffe7f7;
    --midPink: #ffc0e9;
    --MidPurple: #744481;
    --DarkPurple: #40003a;
    --lightGrey: #808080;
    --darkGrey: #404040;

    /*Font Color Library */
    --textDark: #ffffff;
    --textLight: var(--whitePink);
    --backgroundColor: var(--whitePink);
    --fadedTextColor: rgba(255, 231, 247, 0.5);

    /*Button Color Library */
    --mainButtonColor: #ffc0e9;
    --mainButtonHoverColor: #ffffff;
    --buttonSecondaryColor: #ff0000;

    /*Section Color Library */
    --transparentBackground: rgba(0, 0, 0, 0);
    --headerBackground: var(--darkGrey);
    --footerBackground: var(--darkGrey);
}

@font-face {
    font-family: 'Animal Crossing: Wild World';
    src: url('Animal-Crossing-Wild-World.eot');
    src: local('Animal Crossing: Wild World Regular'), local('Animal-Crossing:-Wild-World'),
        url('Animal-Crossing-Wild-World.eot?#iefix') format('embedded-opentype'),
        url('Animal-Crossing-Wild-World.woff2') format('woff2'),
        url('Animal-Crossing-Wild-World.woff') format('woff'),
        url('Animal-Crossing-Wild-World.ttf') format('truetype'),
        url('Animal-Crossing-Wild-World.svg#Animal-Crossing:-Wild-World') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0;
    padding: 0;

}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container.hidden {
    display: none;
} 

.parallax-layer {
    position: relative;
    width: 100%;
    height: auto;
}

.animate{
    width: 50px;
    height: 50px;
    position: absolute;
}


